ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dis{
    font-size: 14px;
}
.heading-2{
    font-size: 32px;
    margin-bottom: 20px;
    max-width: 700px;
    margin: auto;
}
.discription{
    max-width: 500px;
    margin: auto;

}

.title1{
    max-width: 450px;
    margin: auto;
}
   
.sham{
    max-width: 800px;
    margin:auto;
}

.width{
    max-width: 400px;
    margin: auto;
}
.header{
    max-width: 1000px;
    margin: auto;
}












@media (max-width:841px){

    .headline{
        font-size: 25px;
    }
}

@media (max-width:768px){

    .heading-2{
        font-size: 25px;
    }
}
@media (max-width:700px){
    
    ul{
        flex-direction: column;
        padding: 0;
    }
    li{
        padding-top: 20px;
    }
}
